<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <context-param>
      <param-name>CONFIG_DIR</param-name>
      <param-value>WEB-INF/conf</param-value>
  </context-param>
  <listener>
      <listener-class>edu.lternet.pasta.gatekeeper.ConfigurationListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>GatekeeperEventManagerProxy</servlet-name>
    <servlet-class>org.eclipse.jetty.servlets.ProxyServlet$Transparent</servlet-class>
    <load-on-startup>1</load-on-startup>
    <init-param>
      <param-name>Prefix</param-name>
      <param-value>/eventmanager</param-value>
    </init-param>
    <init-param>
      <param-name>ProxyTo</param-name>
      <param-value>http://event.lternet.edu:8080/eventmanager</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>GatekeeperDataPackageManagerProxy</servlet-name>
    <servlet-class>org.eclipse.jetty.servlets.ProxyServlet$Transparent</servlet-class>
    <load-on-startup>1</load-on-startup>
    <init-param>
      <param-name>Prefix</param-name>
      <param-value>/package</param-value>
    </init-param>
    <init-param>
      <param-name>ProxyTo</param-name>
      <param-value>http://package.lternet.edu:8080/package</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>GatekeeperAuditManagerProxy</servlet-name>
    <servlet-class>org.eclipse.jetty.servlets.ProxyServlet$Transparent</servlet-class>
    <load-on-startup>1</load-on-startup>
    <init-param>
      <param-name>Prefix</param-name>
      <param-value>/audit</param-value>
    </init-param>
    <init-param>
      <param-name>ProxyTo</param-name>
      <param-value>http://audit.lternet.edu:8080/audit</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>GatekeeperTester</servlet-name>
    <servlet-class>org.eclipse.jetty.servlets.ProxyServlet$Transparent</servlet-class>
    <load-on-startup>1</load-on-startup>
    <init-param>
      <param-name>Prefix</param-name>
      <param-value>/test</param-value>
    </init-param>
    <init-param>
      <param-name>ProxyTo</param-name>
      <param-value>http://localhost:8080/gatekeepertester</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>api-docs</servlet-name>
    <servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>demo</servlet-name>
    <servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
  </servlet>
  <filter>
    <filter-name>GatekeeperFilter</filter-name>
    <filter-class>edu.lternet.pasta.gatekeeper.GatekeeperFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GatekeeperFilter</filter-name>
    <servlet-name>GatekeeperEventManagerProxy</servlet-name>
    <servlet-name>GatekeeperDataPackageManagerProxy</servlet-name>
    <servlet-name>GatekeeperAuditManagerProxy</servlet-name>
    <servlet-name>GatekeeperTester</servlet-name>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>GatekeeperEventManagerProxy</servlet-name>
    <url-pattern>/eventmanager/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GatekeeperDataPackageManagerProxy</servlet-name>
    <url-pattern>/package/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GatekeeperAuditManagerProxy</servlet-name>
    <url-pattern>/audit/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GatekeeperTester</servlet-name>
    <url-pattern>/test/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>api-docs</servlet-name>
      <url-pattern>/docs/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>demo</servlet-name>
      <url-pattern>/demo/*</url-pattern>
  </servlet-mapping>
</web-app>
