.classpath
.project
.settings
.mymetadata
.myeclipse
.DS_Store
classes
build
java-to-xml
web-service-api
*/WebRoot/META-INF/
*/WebRoot/WEB-INF/lib/
common/WebRoot
common/lib
common/src/edu/lternet/pasta/common/proxy/PastaUrls.properties
*/WebRoot/WEB-INF/conf/*.properties
*/WebRoot/WEB-INF/doc/
/Gatekeeper/WebRoot/WEB-INF/conf/private-key.ser
/Gatekeeper/WebRoot/WEB-INF/web.xml
/Gatekeeper/WebRoot/index.jsp
/DataPackageManager/test/data/NoneSuchBugCount.xml
*/build.properties
*/src/META-INF/persistence.xml
*/documents/javadoc
