persistence.unit=AuditManager
junit.persistence.unit=JUnitTests

pasta.service.acr=service.xml
web.service.version=AuditManager-0.1
welcome.page=../doc/welcome.html
api.document=../doc/edu.lternet.pasta.auditmanager.AuditServiceResource.html
tutorial.document=../doc/tutorial.html
demo.directory=../demo

