<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <context-param>
    <param-name>CONFIG_DIR</param-name>
    <param-value>WEB-INF/conf</param-value>
  </context-param>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/errorHandler.jsp</location>
  </error-page>
  <listener>
    <listener-class>edu.lternet.pasta.portal.ConfigurationListener</listener-class>
  </listener>
  <listener>
    <description>sessionListener</description>
    <listener-class>edu.lternet.pasta.portal.listener.SessionListener</listener-class>
  </listener>  
  <servlet>
    <description>Login Servlet</description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>edu.lternet.pasta.portal.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Logout Servlet</description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>edu.lternet.pasta.portal.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Event Subscribe Servlet</description>
    <display-name>EventSubscribeServlet</display-name>
    <servlet-name>EventSubscribeServlet</servlet-name>
    <servlet-class>edu.lternet.pasta.portal.EventSubscribeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Event Delete Servlet</description>
    <display-name>EventDeleteServlet</display-name>
    <servlet-name>EventDeleteServlet</servlet-name>
    <servlet-class>edu.lternet.pasta.portal.EventDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Event Review Servlet</description>
    <display-name>EventReviewServlet</display-name>
    <servlet-name>EventReviewServlet</servlet-name>
    <servlet-class>edu.lternet.pasta.portal.EventReviewServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Event Test Servlet</description>
    <display-name>EventTestServlet</display-name>
    <servlet-name>EventTestServlet</servlet-name>
    <servlet-class>edu.lternet.pasta.portal.EventTestServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Services requests for the NIS Harvester</description>
    <display-name>HarvesterServlet</display-name>
    <servlet-name>HarvesterServlet</servlet-name>
    <servlet-class>edu.lternet.pasta.portal.HarvesterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Services requests to view NIS harvest reports</description>
    <display-name>HarvestReportServlet</display-name>
    <servlet-name>HarvestReportServlet</servlet-name>
    <servlet-class>edu.lternet.pasta.portal.HarvestReportServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description>Metadata Viewer Servlet</description>
    <display-name>MetadataViewerServlet</display-name>
    <servlet-name>MetadataViewerServlet</servlet-name>
    <servlet-class>edu.lternet.pasta.portal.MetadataViewerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Report Viewer Servlet</description>
    <display-name>ReportViewerServlet</display-name>
    <servlet-name>ReportViewerServlet</servlet-name>
    <servlet-class>edu.lternet.pasta.portal.ReportViewerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Scope Browse Servlet</description>
    <display-name>ScopeBrowseServlet</display-name>
    <servlet-name>ScopeBrowseServlet</servlet-name>
    <servlet-class>edu.lternet.pasta.portal.ScopeBrowseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Identifier Browse Servlet</description>
    <display-name>IdentifierBrowseServlet</display-name>
    <servlet-name>IdentifierBrowseServlet</servlet-name>
    <servlet-class>edu.lternet.pasta.portal.IdentifierBrowseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Revision Browse Servlet</description>
    <display-name>RevisionBrowseServlet</display-name>
    <servlet-name>RevisionBrowseServlet</servlet-name>
    <servlet-class>edu.lternet.pasta.portal.RevisionBrowseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Map Browse Servlet</description>
    <display-name>MapBrowseServlet</display-name>
    <servlet-name>MapBrowseServlet</servlet-name>
    <servlet-class>edu.lternet.pasta.portal.MapBrowseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Data Viewer Servlet</description>
    <display-name>DataViewerServlet</display-name>
    <servlet-name>DataViewerServlet</servlet-name>
    <servlet-class>edu.lternet.pasta.portal.DataViewerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Upload Evaluate Servlet</description>
    <display-name>UploadEvaluateServlet</display-name>
    <servlet-name>UploadEvaluateServlet</servlet-name>
    <servlet-class>edu.lternet.pasta.portal.UploadEvaluateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Simple Search Servlet</description>
    <display-name>SimpleSearchServlet</display-name>
    <servlet-name>SimpleSearchServlet</servlet-name>
    <servlet-class>edu.lternet.pasta.portal.SimpleSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Advanced Search Servlet</description>
    <display-name>AdvancedSearchServlet</display-name>
    <servlet-name>AdvancedSearchServlet</servlet-name>
    <servlet-class>edu.lternet.pasta.portal.AdvancedSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Data Package Delete Servlet</description>
    <display-name>DataPackageDeleteServlet</display-name>
    <servlet-name>DataPackageDeleteServlet</servlet-name>
    <servlet-class>edu.lternet.pasta.portal.DataPackageDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Audit Report Servlet</description>
    <display-name>AuditReportServlet</display-name>
    <servlet-name>AuditReportServlet</servlet-name>
    <servlet-class>edu.lternet.pasta.portal.AuditReportServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Data Package Audit Servlet</description>
    <display-name>DataPackageAuditServlet</display-name>
    <servlet-name>DataPackageAuditServlet</servlet-name>
    <servlet-class>edu.lternet.pasta.portal.DataPackageAuditServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Metadata Previewer Servlet</description>
    <display-name>MetadataPreviewerServlet</display-name>
    <servlet-name>MetadataPreviewerServlet</servlet-name>
    <servlet-class>edu.lternet.pasta.portal.MetadataPreviewerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Provenance Generator Servlet</description>
    <display-name>ProvenanceGeneratorServlet</display-name>
    <servlet-name>ProvenanceGeneratorServlet</servlet-name>
    <servlet-class>edu.lternet.pasta.portal.ProvenanceGeneratorServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Provenance Graph Servlet</description>
    <display-name>ProvenanceGraphServlet</display-name>
    <servlet-name>ProvenanceGraphServlet</servlet-name>
    <servlet-class>edu.lternet.pasta.portal.ProvenanceGraphServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Code Generation Servlet</description>
    <display-name>CodeGenerationServlet</display-name>
    <servlet-name>CodeGenerationServlet</servlet-name>
    <servlet-class>edu.lternet.pasta.portal.codegeneration.CodeGenerationServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Data Package Citation Servlet</description>
    <display-name>DataPackageCitationServlet</display-name>
    <servlet-name>DataPackageCitationServlet</servlet-name>
    <servlet-class>edu.lternet.pasta.portal.DataPackageCitationServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Archive Download Servlet</description>
    <display-name>ArchiveDownloadServlet</display-name>
    <servlet-name>ArchiveDownloadServlet</servlet-name>
    <servlet-class>edu.lternet.pasta.portal.ArchiveDownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Browse Servlet</description>
    <display-name>BrowseServlet</display-name>
    <servlet-name>BrowseServlet</servlet-name>
    <servlet-class>edu.lternet.pasta.portal.BrowseServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <description>Browse Crawler Servlet</description>
    <display-name>BrowseCrawlerServlet</display-name>
    <servlet-name>BrowseCrawlerServlet</servlet-name>
    <servlet-class>edu.lternet.pasta.portal.search.BrowseCrawlerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Browse Krawler Servlet</description>
    <display-name>BrowseKrawlerServlet</display-name>
    <servlet-name>BrowseKrawlerServlet</servlet-name>
    <servlet-class>edu.lternet.pasta.portal.search.BrowseKrawlerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Saved Data Servlet</description>
    <display-name>SavedDataServlet</display-name>
    <servlet-name>SavedDataServlet</servlet-name>
    <servlet-class>edu.lternet.pasta.portal.SavedDataServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Map Search Servlet</description>
    <display-name>MapSearchServlet</display-name>
    <servlet-name>MapSearchServlet</servlet-name>
    <servlet-class>edu.lternet.pasta.portal.MapSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EventSubscribeServlet</servlet-name>
    <url-pattern>/eventsubscribe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EventDeleteServlet</servlet-name>
    <url-pattern>/eventdelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EventReviewServlet</servlet-name>
    <url-pattern>/eventreview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EventTestServlet</servlet-name>
    <url-pattern>/eventtest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HarvesterServlet</servlet-name>
    <url-pattern>/harvester</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HarvestReportServlet</servlet-name>
    <url-pattern>/harvestReport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MetadataViewerServlet</servlet-name>
    <url-pattern>/metadataviewer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportViewerServlet</servlet-name>
    <url-pattern>/reportviewer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ScopeBrowseServlet</servlet-name>
    <url-pattern>/scopebrowse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IdentifierBrowseServlet</servlet-name>
    <url-pattern>/identifierbrowse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RevisionBrowseServlet</servlet-name>
    <url-pattern>/revisionbrowse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MapBrowseServlet</servlet-name>
    <url-pattern>/mapbrowse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DataViewerServlet</servlet-name>
    <url-pattern>/dataviewer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadEvaluateServlet</servlet-name>
    <url-pattern>/uploadevaluate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SimpleSearchServlet</servlet-name>
    <url-pattern>/simpleSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdvancedSearchServlet</servlet-name>
    <url-pattern>/advancedSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DataPackageDeleteServlet</servlet-name>
    <url-pattern>/dataPackageDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuditReportServlet</servlet-name>
    <url-pattern>/auditReport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DataPackageAuditServlet</servlet-name>
    <url-pattern>/dataPackageAudit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MetadataPreviewerServlet</servlet-name>
    <url-pattern>/metadataPreviewer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProvenanceGeneratorServlet</servlet-name>
    <url-pattern>/provenanceGenerator</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProvenanceGraphServlet</servlet-name>
    <url-pattern>/provenanceGraph</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CodeGenerationServlet</servlet-name>
    <url-pattern>/codeGeneration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DataPackageCitationServlet</servlet-name>
    <url-pattern>/dataPackageCitation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArchiveDownloadServlet</servlet-name>
    <url-pattern>/archiveDownload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BrowseServlet</servlet-name>
    <url-pattern>/browseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BrowseCrawlerServlet</servlet-name>
    <url-pattern>/browseCrawlerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BrowseKrawlerServlet</servlet-name>
    <url-pattern>/browseKrawlerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SavedDataServlet</servlet-name>
    <url-pattern>/savedDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MapSearchServlet</servlet-name>
    <url-pattern>/mapSearchServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>