# Ant properties for building the DataPackageManager
tomcat.home=/home/pasta/local/apache-tomcat
tomcat.lib=/home/pasta/local/apache-tomcat/lib
solr.home=/home/pasta/local/solr/example/solr-pasta
