lter.user=  uid = ucarroll , o = LTER , dc = ecoinformatics , dc = org
lter.password=@PASSWORD@

unaffiliated.user= uid = kepler , o = unaffiliated , dc = ecoinformatics,dc=org
unaffiliated.password=@PASSWORD@

nceas.user= uid = test , o = NCEAS , dc = ecoinformatics ,  dc =    org  
nceas.password=@PASSWORD@

pisco.user=uid=piscotest,o=PISCO,dc=ecoinformatics,dc=org
pisco.password=@PASSWORD@

sanparks.user=uid=test,o=SANParks,dc=ecoinformatics,dc=org
sanparks.password=@PASSWORD@