article, aside, figure, footer, header, nav, section {
    display:                    block;
    margin:                     0;
    padding:                    0;
}

div.r-box {
    float:                      right;
    border:                     1px solid;
    margin:                     0px;
    width:                      260px;
    height:                     auto;
    margin-right:               0px;  
    font-size:                  .8em;
    padding:                    6px 6px;
}

div.hanging-paragraph {
	  margin-left:	              20px;
	  text-indent:	              -20px;
}

div.abstract-text {
    font-size:                  0.93em;
}

div.smaller-font {
    font-size:		              smaller;
}

div.bottom-padding {
    padding-bottom:		          6px;
}

div.left-padding {
    padding-left:		            10px;
}

/* drop the top margin put on by the w3 in the wrapper */
td p {
    margin:                     0 0 15px 0;
}

ul, ol {
    padding:                    0px;
}

.ol-lower-alpha { 
    list-style-type:            lower-alpha;
    margin-top:                 2px;
}

.ul-bulleted-list { 
    list-style-type:            disc;
    margin-top:                 2px;
    margin-bottom:              10px;
    margin-left:                15px;
}

/* to emphasize words, use it inline with a <span> class*/ 
big {
    font-size:                  larger;
}

/* to shrink words, use it inline with a <span> class*/
small {
    font-size:                  smaller;
}
  
/* for pre-formated text: adds a small padding around it font is set to the default style, 
 * but could be changed for different effect
 */
pre {
    padding:                    10px;
    font-style:                 normal;
    font-weight:                normal;
    font-family:                Arial, Helvetica, sans-serif;
    text-decoration:            none;
}

/* for creating block quotes. set off with a slight indent to the left & right margins.
 * font is set to default style, but could be changed for different effect.
 */
blockquote {
    padding:                    0;
    font-style:                 normal;
    font-weight:                normal;
    font-family:                Arial, Helvetica, sans-serif;
    text-decoration:            none;
}

/* image styles */
/* no padding or border around images by default */
img {
    border:                     0px; 
    border-style:               none;
    border-width:               0px;
    padding:                    0px;
    text-decoration:            none;
}

/* this class is needed to remove some extra space along the top of images
 * this attribute can not be put into default img class because it prevents
 * text from wrapping correctly
 */
img.vtop {  
    vertical-align:             top;
}

img.border {
    border:                     medium;
    border-style:               solid;
    padding:                    0px;
}

/* Format the headshot images in the who section */

img.headshot {
    margin-right:               20px;
    margin-bottom:              40px;
}

/* Format the headshot images in the who section 
 * that have alot of text aligned to the right */
img.headshot_long {
    margin-right:               20px;
    margin-bottom:              80px;
}
  
/* Format inline images justified to the left in the text*/

img.inlineleft {
    border:                     medium;
    border-style:               solid;
    margin-right:               8px;
    margin-top:                 8px;
    margin-bottom:              8px;
}

/* Format inline images justified to the right in the text*/

img.inlineright {
    border:                     medium;
    border-style:               solid;
    margin-left:                8px;
    margin-top:                 8px;
    margin-bottom:              8px;
}
  
/* Default behavior for linked images 
 * no border, no padding, aligned to the top
 */
a img {
    border:                     0px; 
    border-style:               none;
    border-width:               0px;
    padding:                    0px;
    vertical-align:             top;
    text-decoration:            none;
}

.bold {
    font-style:                 normal;
    font-weight:                bold;
}

.waybold {
    font-style:                 italic;
    font-weight:                bolder;
}

.subGroup {
    padding:                    3px;
    voice-family:               "\"}\""; /* begin ie5win hack */
    voice-family:               inherit;
    -moz-border-radius:         10px; /* end ie5win hack */
}
 
.subGroup_border {
    border:                     solid 1px;
}

div.left {
    position:                   absolute;
    left:                       20px;
    clear:                      right;
}

div.right {
    position:                   absolute;
    right:                      20px;
    clear:                      left;
}

table.left {
    position:                   absolute;
    left:                       20px;
}

table.right {
    float:                      right;
    margin-right:               10px;
    clear:                      left;
}

th {
    text-align:                 left;
    font-style:                 italic;
    font-weight:                700;
} 

th.rowheader {
    background:                 lightgrey;
    border-right:               solid 1px;
}

.rowodd {
	  border-bottom:              white solid 2px;
	  border-top:                 white solid 2px;
	  background-color:           #b2cce0;
	  padding:                    0.25em;
	  margin:                     0;
}

.roweven {
    padding:                    0.25em;
    margin:                     0;
} 

.coleven {
    border-left:                1px;
    border-right:               1px;
    background-color:           lightgrey;
    padding-left:               2px;
    padding-right:              2px;
    text-align:                 left;
}

.colodd {
    padding-left:               2px;
    padding-right:              2px;
    text-align:                 left;
}

.innercolodd {
    border:                     solid 1px;
    font-size:                  .75em;
    padding-left:               2px;
    padding-right:              2px;
    text-align:                 left;
}

.innercoleven {
    border:                     solid 1px;
    background-color:           lightgrey;
    font-size:                  .75em;
    padding-left:               2px;
    padding-right:              2px;
    text-align:                 left;
}    

.onehundred_percent {
    min-width:                  100px;
    /*width:                      100%;*/
}

.eighty_percent {
    width:                      80%;
}

.seventyfive_percent {
    width:                      75%;
}

.seventy_percent {
    width:                      70%;
}

.fifty_percent {
    width:                      50%;
}

.fortyfive_percent {
    width:                      45%;
}

.forty_percent {
    width:                      40%;
}

.twentyfive_percent {
    width:                      25%;
}

.twenty_percent {
    width:                      20%;
}

.fifteen_percent {
    width:                      15%;
}

.width_100 {
	  width:                      100px;
}

/*label {
    text-align:                 right;
    vertical-align:             middle;
    padding:                    0.25em;
    margin-right:               3px;
    background-color:           lightgrey;                
}
*/
input.view-data-button{
    font-weight:		            bold; 
    background:                 #FFFF99;
   	border-bottom:              2px solid;
   	border-right:               2px solid;
   	-moz-border-radius:         3px;
}
   	  
input.view-data-button:hover {
    background:                 #FFCC33;
}

form.entity-link {
    padding:                    0px;
    margin:                     0px;
}

/* Dataset Entity views - citation, header and links */ 

/*
table.dataset-entity-part {
    width:                      100%;
    margin-top:                 20px;
}

table td.dataset-entity-part-header {
    width:                      50%;
}

table td.dataset-entity-part-header h3 {
    margin:                     0px;
}*/

