# DataPortal properties file

# Postgresql Configuration parameters
db.Adapter=PostgresAdapter
db.Driver=org.postgresql.Driver
db.URL=jdbc:postgresql://localhost/pasta
db.pkg.URL=jdbc:postgresql://package.lternet.edu:5432/pasta
db.ServerName=localhost
db.Name=pasta
db.User=pasta
db.Password=HIDEPASSWORD
db.MaxConnections=10

# Junit properties
dataportal.test.emlFileName=NoneSuchBugCount.xml
dataportal.test.path=test/data
dataportal.test.scope=knb-lter-nwk
dataportal.test.identifier=5030
dataportal.test.revision=1
dataportal.test.revision.update=2
dataportal.test.entity.id=a9201a0755fc45ae514abb12469c03a0
dataportal.test.entity.name=NoneSuchBugCount
dataportal.test.entity.size=882
tokenmanager.uid=ucarroll
tokenmanager.token=dWlkPXVjYXJyb2xsLG89TFRFUixkYz1lY29pbmZvcm1hdGljcyxkYz1vcmcqaHR0cHM6Ly9wYXN0YS5sdGVybmV0LmVkdS9hdXRoZW50aWNhdGlvbioxMzcxMTg5Nzk4NDY5KmF1dGhlbnRpY2F0ZWQ=-DoU9U2H16wEO090IbLXenrGZdR48i+gQo3iJFTSLq3WYZ9VrGJ4dcctmI7AhR1o3VWWG01ezu/uNrkz0b/GpIQWlW2S1oh/qlMveMS9bLX0Azzn/U5JOpiBA4FCG4V/6s7JKp2WD1QWquv1KUk4pUMS7JT+xoBvlEMpLhrUIpj7k+u41YuEFhu4lTP4nLrl1yWQkYIzBULYuqx+B0bXeLCYAXJgpljs7QgCQAMaOGE6iBZSsCeVo8fclN9JiTzS6S52fDeTPnbdgl9iK75UQ1DEHJOggo7IT76gipxVnGhS09cC962RneFie4KnIwB8cRSq/oS0zHCmtUmr6vsZe2w==
loginservice.uid=ucarroll
loginservice.password=HIDEPASSWORD
eventservice.uid=ucarroll
eventservice.password=HIDEPASSWORD
eventservice.token=dWlkPXVjYXJyb2xsLG89TFRFUixkYz1lY29pbmZvcm1hdGljcyxkYz1vcmcqaHR0cHM6Ly9wYXN0YS5sdGVybmV0LmVkdS9hdXRoZW50aWNhdGlvbioxMzcxMTg5Nzk4NDY5KmF1dGhlbnRpY2F0ZWQ=-DoU9U2H16wEO090IbLXenrGZdR48i+gQo3iJFTSLq3WYZ9VrGJ4dcctmI7AhR1o3VWWG01ezu/uNrkz0b/GpIQWlW2S1oh/qlMveMS9bLX0Azzn/U5JOpiBA4FCG4V/6s7JKp2WD1QWquv1KUk4pUMS7JT+xoBvlEMpLhrUIpj7k+u41YuEFhu4lTP4nLrl1yWQkYIzBULYuqx+B0bXeLCYAXJgpljs7QgCQAMaOGE6iBZSsCeVo8fclN9JiTzS6S52fDeTPnbdgl9iK75UQ1DEHJOggo7IT76gipxVnGhS09cC962RneFie4KnIwB8cRSq/oS0zHCmtUmr6vsZe2w==
qualityreportutility.testreport=/test/data/knb-lter-nin.1.1.report.xml
qualityreportutility.xslpath=/WebRoot/WEB-INF/xsl/qualityReportFull.xsl
qualityreportutility.testpackageid=knb-lter-nin.1.1
provenancefactoryclient.testpackageid=knb-lter-nin.1.1

# PASTA HTTP connection information
pasta.hostname=pasta.lternet.edu
pasta.protocol=https
pasta.port=443
pasta.uriHead=https://pasta.lternet.edu/package/

# Data Package Management properties
dataportal.desktopUrlHead=https://portal.lternet.edu/nis/data
browse.dir=/home/pasta/local/browse
emlutility.xslpath=/WEB-INF/xsl/eml-2.xsl
reportutility.xslpath=/WEB-INF/xsl/qualityReportFull.xsl
emlutility.idref=/WEB-INF/xsl/id-ref.xsl
harvester.path=/home/pasta/local/harvester
harvester.report.daysToLive=180
subscriptionutility.xslpath=/WEB-INF/xsl/subscription.xsl
resultsetutility.xslpath=/WEB-INF/xsl/solrResultset.xsl
auditreport.limit=10000
auditreport.xslpath=/WEB-INF/xsl/auditReport.xsl
datapackageaudit.xslpath=/WEB-INF/xsl/dataPackageAudit.xsl
system.cwd=/home/pasta/git/NIS/DataPortal2
pastaclient.maxidletime=1800000
pastaclient.idlesleeptime=30000
pastaclient.initialsleeptime=15000
